.app_layout, .app_main {
  display: flex;
  flex-direction: column;
  align-items: center;

  inline-size: 100%;
  block-size: 100%;
}

.app_header {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  inline-size: 100%;
  block-size: 164px;

  margin-block-end: 6rem;
}

.app_header a {
  display: flex;

  transition: 150ms transform ease;
}

.app_footer {
  display: flex;

  margin-block: auto 1rem;
}

.app_footer ul {
  display: flex;
  align-items: center;

  gap: 1.5rem;
}

.app_footer a {
  color: var(--colors-light-800);

  transition: 150ms color ease;
}

.app_footer a.route_active {
  color: var(--colors-light-100)
}

@media screen and (hover: hover) and (pointer: fine) {
  .app_header a:hover {
    transform: translateY(-4px);
  } 
}