.app_layout, .app_main {
  display: flex;
  flex-direction: column;
  align-items: center;

  inline-size: 100%;
  block-size: 100%;
}

.app_header {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  inline-size: 100%;
  block-size: 164px;

  margin-block-end: 6rem;
}

.app_header a {
  display: flex;

  transition: 150ms transform ease;
}

@media screen and (hover: hover) and (pointer: fine) {
  .app_header a:hover {
    transform: translateY(-4px);
  } 
}