:root {
  /* colors */
  --colors-primary: 44, 2, 214;
  --colors-primary-hover: #ef58ad;
  --colors-primary-active: #be4487;

  --colors-secondary: 235, 230, 253;

  --colors-dark-default: #000;
  --colors-dark-100: #0d0d0f;
  --colors-dark-200: #17181a;
  --colors-dark-300: #222427;
  --colors-dark-400: #323438;
  --colors-dark-500: #404145;
  --colors-dark-600: #4a4b4c;
  --colors-dark-700: #57585a;
  --colors-dark-800: #66686a;
  --colors-dark-900: #737579;

  --colors-light-default: #fffffe;
  --colors-light-100: #f6f6fa;
  --colors-light-200: #e8eaef;
  --colors-light-300: #d6d8da;
  --colors-light-400: #c4c4c9;
  --colors-light-500: #b0b1b4;
  --colors-light-600: #a1a3a5;
  --colors-light-700: #909294;
  --colors-light-800: #838484;
  --colors-light-900: #78797a;

  /* typography */

  /* utils */
  --utils-header-height: 96px;
  --utils-sidebar-width: 246px;

  /* misc */
  --misc-radius-xs: 4px;
  --misc-radius-s: 6px;
  --misc-radius-m: 8px;
  --misc-radius-l: 12px;
  --misc-radius-xl: 16px;
  --misc-radius-xxl: 32px;
  --misc-radius-rounded: 100%;
  /* media */
}
