:root {
  /* colors */
  --colors-primary: 175, 111, 43;
  --colors-primary-dark: 152, 96, 36;
  --colors-primary-darker: 135, 86, 53;

  --colors-action-default: #F2C409;
  --colors-action-dark: #E59400;

  --colors-card-border: #C2B2A5;
  --colors-card-canvas: #b8a99e;
  --colors-card-stats: #83776d;
  --colors-card-bar: #645b53;
  --colors-card-background: 51, 35, 31;

  --colors-card-stats-str: #C56456;
  --colors-card-stats-dex: #B48847;
  --colors-card-stats-dur: #4B7C54;
  --colors-card-stats-int: #3F807C;

  --colors-dark-default: #000;
  --colors-dark-100: #0d0d0f;
  --colors-dark-200: #17181a;
  --colors-dark-300: #222427;
  --colors-dark-400: #323438;
  --colors-dark-500: #404145;
  --colors-dark-600: #4a4b4c;
  --colors-dark-700: #57585a;
  --colors-dark-800: #66686a;
  --colors-dark-900: #737579;

  --colors-light-default: #fffffe;
  --colors-light-100: #f6f6fa;
  --colors-light-200: #e8eaef;
  --colors-light-300: #d6d8da;
  --colors-light-400: #c4c4c9;
  --colors-light-500: #b0b1b4;
  --colors-light-600: #a1a3a5;
  --colors-light-700: #909294;
  --colors-light-800: #838484;
  --colors-light-900: #78797a;

  /* typography */

  /* utils */
  --utils-header-height: 96px;
  --utils-sidebar-width: 246px;

  /* misc */
  --misc-radius-xs: 4px;
  --misc-radius-s: 6px;
  --misc-radius-m: 8px;
  --misc-radius-l: 12px;
  --misc-radius-xl: 16px;
  --misc-radius-xxl: 32px;
  --misc-radius-rounded: 100%;
  /* media */
}
